<div style = "height:5px"></div>
<form method="post" action="/post" class="well form-inline center" style="text-align: center;">
	<legend>在奇奇网您可以畅所欲言，无所顾忌，但是，请尊重自己的良心~~</legend>
	<input type="text" class="span8" name="weibo">
	<button type="submit" class="btn btn-success" style = "margin-top:0px">
		<i class="icon-comment icon-white"></i>
		说说
	</button> 
</form>